*.a
.obj/
tests/bjson.so
examples/test_fib
test_fib.c
examples/*.so
examples/hello
examples/hello_module
hello.c
microbench*.txt
qjs
qjsc
qjscalc
qjscalc.c
repl.c
run-test262
test262
test262_*.txt
test262o
test262o_*.txt
unicode
unicode_gen
run_octane
run_sunspider_like
examples/hello.aarch64.elf
examples/hello.com.dbg
examples/hello_module.aarch64.elf
examples/hello_module.com.dbg
examples/test_fib.aarch64.elf
examples/test_fib.com.dbg
qjs.aarch64.elf
qjs.com.dbg
qjsc.aarch64.elf
qjsc.com.dbg
run-test262.aarch64.elf
run-test262.com.dbg
